<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

  </head>
  <body>
    {{> header}}

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
          <img src="https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/s320x320/e35/11379809_1179125725446225_642406440_n.jpg">
        </figure>

        <h1 class="home-title">
          Hello there, my name is Adel Burton

        <p class="home-introduction">
          I’m a <strong>Product Designer</strong> spending my time growing an amazing team.
          <br>
          Our aim is to shape the <strong>future of digital learning</strong> at <a href="http://www.codeatuni.com/">Code at Uni</a>.
        </p>
      </div>
    </main>

    {{> footer}}
  </body>
</html>
